<div class="toasts-container">
    <div class="toast fade show mb-3" data-autohide="false" id="toast-1">
        <div class="toast-header">
            <i class="{{iconToast}} me-2 text-{{typeToast}}"></i>
            <strong class="me-auto text-{{typeToast}}">{{codeToast}}</strong>
            <small class="text-{{typeToast}}">{{date}}</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body text-{{typeToast}}">
            <div class="text-center">{{titleToast}}</div>
            <hr>
            {{messageToast}}
        </div>
    </div>
</div>