<div id="content" class="app-content">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-12">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">TABLES</a></li>
                        <li class="breadcrumb-item active">TABLE PLUGINS</li>
                    </ul>
                    <h1 class="page-header">
                        Table Plugins <small>page header description goes here...</small>
                    </h1>
                    <hr class="mb-4"/>

                    <div class="col-12">
                        <div class="row mb-4">
                            <div class='col-2 form-group'>
                                <div class="input-group">
                                    <select class='form-select searchDatatable' data-type-filter='like' id='id' name='id'>
                                        {{listDB}}
                                    </select>
                                    <label class="input-group-text" for="id">
                                        <i class="fa fa-lock-open"></i>
                                    </label>
                                </div>
                            </div>
                            <div class='col-4 form-group'>
                                <div class="input-group">
                                    <input class='form-control searchDatatable' data-type-filter='like' type='search' id='name' name='name' placeholder="Palavra chave de name..."/>
                                    <label class="input-group-text" for="name">
                                        <i class="fa fa-text-height"></i>
                                    </label>
                                </div>
                            </div>
                            <div class='col-2 form-group'>
                                <button class='btn btn-outline-info col-12' id='mySearchButton' name='mySearchButton' onclick="resetDatatable();"><i class='fa fa-search'></i> | Filtrar</button>
                            </div>
                            <div class='col-2 form-group'>
                                <button class='btn btn-outline-danger col-12' id='clear' name='clear' onclick="clearSearch();"><i class='fa fa-delete-left'></i> | Limpar</button>
                            </div>
                            <div class='col-2 form-group'>
                                <button class='btn btn-outline-success col-12' id='create' name='create' onclick="paramsCreateTagModal(this);"><i class='fa fa-plus-circle'></i> | Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <div id="datatable" class="mb-5">
                        <div class="card">
                            <div class="card-body">
                                <table id="datatableDefault" class="table text-nowrap w-100">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Ação</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="card-arrow">
                                <div class="card-arrow-top-left"></div>
                                <div class="card-arrow-top-right"></div>
                                <div class="card-arrow-bottom-left"></div>
                                <div class="card-arrow-bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>