<head>
  <meta charset="utf-8" />
  <title>{{env('APP_NAME')}} | {{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{description}}" />
  <meta name="author" content="{{author}}" />
  <link rel="icon" type="image/x-icon" href="/shieldforce.png">
  <link href="/template/assets/css/vendor.min.css" rel="stylesheet" />
  <link href="/template/assets/css/app.min.css" rel="stylesheet" />
  <link href="/template/assets/css/custom.css" rel="stylesheet" />
  {{head-custom}}
  <!-- ================== BEGIN page-css ================== -->
  <link href="/template/assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
  <link href="/template/assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
  <link href="/template/assets/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
  <!-- ================== END page-css ================== -->
</head>