<script src="/template/assets/js/vendor.min.js"></script>
<script src="/template/assets/js/app.min.js"></script>
<script src="/template/assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
<script src="/template/assets/plugins/jvectormap-content/world-mill.js"></script>
<script src="/template/assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
<script src="/template/assets/js/demo/dashboard.demo.js"></script>

<!-- ================== BEGIN page-js ================== -->
<script src="/template/assets/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="/template/assets/js/demo/highlightjs.demo.js"></script>
<script src="/template/assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/template/assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/template/assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/template/assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="/template/assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/template/assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/template/assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/template/assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="/template/assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/template/assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="/template/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/template/assets/js/demo/table-plugins.demo.js"></script>
<script src="/template/assets/js/demo/sidebar-scrollspy.demo.js"></script>
<!-- ================== END page-js ================== -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53034621-1', 'auto');
    ga('send', 'pageview');
</script>